.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: linear-gradient(var(--link-color), var(--primary-color));
}

.auth-logo {
  margin-bottom: 24px;
  height: 70px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    height: 124px;
  }
}

.auth-card {
  padding: 10px 5px;
  
  @media screen and (min-width: 768px) {
    padding: 20px 10px;
  }
}

.auth-card {
  width: 92%;
  min-height: 440px;

  .auth-card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 12px 0px 12px;

    @media screen and (min-width: 568px) {
      padding: 20px 20px 0px 20px;
    }
  }

  @media screen and (min-width: 568px) {
    width: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

  @media screen and (min-width: 568px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.auth-form-input {
  width: 100%;
  position: relative;
}

.text-input input, .password-input input {
  width: 100%;
}

.password-input input {
  padding-right: 40px;
}

.password-icon {
  position: absolute;
  right: 0;
  padding: 5px 12px 6px 8px;
}

.auth-alert {
  width: 356px;
}

.forgot-password-card {
  width: 345px;
  min-height: 350px;
  padding: 20px 5px;

  @media screen and (min-width: 768px) {
    width: 450px;
    padding: 20px;
  }

  .forgot-password-alert {
    margin: 20px 0;
    padding: 9px;
    width: 356px;
  }
}

.forgot-password-button {
  width: 100%;
}

.auth-button {
  margin-top: 20px;
  width: 100%;
  max-width: 310px;

  @media screen and (min-width: 768px) {
    max-width: 356px;
  }
}

.auth-paragraph {
  color: var(--darkgrey)
}

.footer-container {
  margin-top: 24px;
  display: flex;
  width: 100;
  justify-content: center;
  align-items: center;
}

.auth-link-container {
  display: flex;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 8px;
}

.auth-link {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: var(--link-color);
    }
}