.feedback-card-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.feedback-card-content-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid var(--hover-color-grey);
  padding: 55px 16px;
  box-shadow: 0 3px 7px hsl(228deg 66% 45% / 15%);
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    width: 70%;
  }
}

.feedback-card-content-medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid var(--hover-color-grey);
  padding: 55px 0;
  box-shadow: 0 3px 7px hsl(228deg 66% 45% / 15%);
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    width: 60%;
  }

  @media screen and (min-width: 1024px) {
    width: 40%;
  }
}

.feedback-icon {
  margin-bottom: 20px;
}

.error-title {
  margin-bottom: 20px;
  color: var(--error-color);
}

.warning-title {
  margin-bottom: 20px;
  color: var(--warning-color);
}

.feedback-description {
  color: var(--light-grey-color);
  padding: 0px;
  margin: 2px;
}

.error-button {
  margin: 22px 0 22px 0;
  background-color: var(--error-color);
  border-color: var(--error-color);
  padding: 6px 30px;

  &:hover, &:active {
    background-color: var(--hover-color-error) !important;
    border-color: var(--hover-color-error) !important;
  }
}