.courses-dashboard-grid {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.course-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23rem;
  height: 21rem;
  padding: 0.75rem 0.75rem 2rem;
  border-radius: 1rem;
  margin-bottom: 15px;
  border: 4px solid var(--primary-color);
  box-shadow: 0 12px 16px hsl(228deg 66% 45% / 10%);

  &:hover {
    border: 6px solid var(--primary-color);
    cursor: pointer;
  }
}

.course-card-image {
    border-radius: 1rem;
    max-width: 100%;
    height: 200px;
    margin-bottom: 25px;
    object-fit: cover;
}

.card.card-body {
  border: none !important;
}

.course-container {
  display: flex;
  margin-top: 80px;
}

.card.sidebar-content-container-home {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.175);
    border-left: none;
    border-top: none;
    border-bottom: none;
    width: 396px;
  }

  @media screen and (min-width: 1024px) {
    display: block;
    width: 396px;
  }
}

.course-content-container {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 16px 20px;

  @media screen and (min-width: 768px) {
    padding: 0 48px 24px 48px;
    align-items: flex-start;
  }
}

.main-header {
  margin-bottom: 5px;
}

.centered-header {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.default-header {
  padding-top: 28px;
  padding-bottom: 14px;

  @media screen and (min-width: 768px) {
    padding-top: 48px;
    padding-bottom: 16px;
  }
}

.header-back-button {
  margin: 12px 8px 3px -4px;

  @media screen and (min-width: 768px) {
    margin: 28px 8px 3px -4px;
  }
}

.sidebar-image {
  width: 200px;

  @media screen and (min-width: 768px) {
    width: 10rem;
  }

  @media screen and (min-width: 1024px) {
    width: 12rem;
  }
}

.progress-circle-container {
  padding-top: 2px;
  padding-right: 12px;
}

.progress-circle {
  border-radius: 50%;
  height: 22px;
  width: 22px;
  margin-bottom: 2px;
}

.empty-circle {
  border: 2px solid var(--secondary-color)
}

.full-circle {
  background-color: var(--secondary-color)
}

.table-header {
  width: 50px;
  border-right: 1px solid #dee2e6;
}

.table .section-row-data {
  padding: 0;
}

.section-row-data {
  .description {
    width: 100%;
    text-align: left;
  }

  .row-buttons {
    background: white;
    border: none;
    padding: 10px 16px;
    display: flex;
  
    &:hover, &:active {
      background-color: var(--hover-color-grey) !important;
    }
  }

  .icon-and-description {
    border-left: 1px solid #dee2e6;
  }
}

.video-js-course-view {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;

  @media screen and (min-width: 600px) {
    width: 35rem;
  }

  @media screen and (min-width: 768px) {
    width: 32rem;
  }

  @media screen and (min-width: 930px) {
    width: 38rem;
  }

  @media screen and (min-width: 1125px) {
    width: 50rem;
  }

  @media screen and (min-width: 1625px) {
    width: 70rem;
  }
}

.course-title-course-view {
  margin: 40px 0 30px 0;
  text-align: center;
  padding: 0 5px;
}

.instructor-container {
  width: 100%;
  min-height: 100%;

  @media screen and (min-width: 1024px) {
    width: 80%;
  }
}

.instructor-content-container {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  align-items: center;

  @media screen and (min-width: 468px) {
    flex-direction: row;
    padding: 8px 0;
  }
}

.instructor-image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 30px;

  @media screen and (min-width: 468px) {
    align-self: flex-start;
    margin-right: 20px;
  }


  @media screen and (min-width: 768px) {
    width: 158px;
    height: 158px;
    margin-bottom: 0px;
  }
}

.course-dashboard-item {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  box-shadow: inset 1px 0px 5px 0px hsla(228, 66%, 45%, 0.15);
}

.course-dashboard-item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: background 150ms ease-in;
}

.course-dashboard-item-overlay:hover{
  background: hsla(0%, 0%, 98%, 0.35);
}

.course-desc {
  font-size: 18px;
}

.continue-button {
  width: 106px;
}

.continue-error {
  margin-top: 12px;
  color: var(--error-color);
}