$primary: #132843;

@import "bootstrap/scss/bootstrap";

body, html, #root {
  height: 100%;
  overflow-x: hidden;
}

:root {
  --primary-color: #132843;
  --secondary-color: #F18F0F;
  --darker-grey: #343434;
  --darkgrey: #6c757d;
  --border-color-light-grey: #d3d3d3;
  --border-color-grey: #adaaaa;
  --light-grey-color: #a8a8a8;
  --lightest-grey: #f5f5f5;
  --link-color: #3E819A;
  --blue: #3397E8;
  --hover-color-grey: #e7e6e6;
  --hover-color-blue: #1b3a64;
  --hover-color-orange: #db810d;
  --error-color: #dc3545;
  --success-color: #198754;
  --warning-color: #ffc007;
  --hover-color-error: #e44c5b;
}

.main-button {
  &:hover, &:active {
    background-color: var(--hover-color-blue);
    border: 1px solid var(--hover-color-blue);
  }
}

.card {
  border: none;

  @media screen and (min-width: 768px) {
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    box-shadow: inset 1px 0px 5px 0px hsl(228deg 66% 45% / 15%);
  }
}

.full-screen-loading-container {
  width: 100%;
  min-height: 100vh;
  display: flex; 
  justify-content: center;
  padding-top: 36px;
}

.page-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 10px;
  background: linear-gradient(var(--link-color), var(--primary-color));

  h1, p {
    color: white;
  }

  .page-not-found-logo {
    height: 140px;
    width: 160px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

h6 {
  font-size: 1.1rem;
  margin: 0px 0 -2px 0;
  padding: 0;
}

hr {
  color: var(--hover-color-grey);
  width: 100%;
  margin: 0;
  height: 30px;
  border-top: 1.5px solid;
  opacity: 1;
}

@import "./authentication";
@import "./admin";
@import "./sidebar";
@import "./navbar";
@import "./home";
@import "./feedback";
@import "./modals";
@import "./quiz";
@import "./other";