
.full-screen-modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 500px;
  z-index: 1;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  border-radius: 12px;
  padding: 24px;
  margin: 20px;
}

.x-mark-modal-container {
  display: flex;
  align-self: flex-end;
  margin-bottom: 20px;
}

.modal-text-container {
  flex: 1;
  padding-bottom: 20px;
}

.modal-confirm {
  min-width: 106px;
}