.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
}

nav {
  background: var(--primary-color);
  height: 80px;
}

.nav-link {
    a {
      text-decoration: none;
    }
  
    &:hover {
      text-decoration: underline;
    }
}

.navbar-brand {
  margin: 0;
  height: 50px;

  @media screen and (min-width: 768px) {
    height: 54px;
  }
}

.bottom-mobile-navbar-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 1rem;
  background-color: white;
  box-shadow: 0 8px 24px hsl(228deg 66% 45% / 15%);
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  border-radius: 1.25rem;
  z-index: 1;

  @media screen and (min-width: 768px) {
    display: none
  }
}

.bottom-mobile-navbar-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-mobile-navbar-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-icon-line {
  margin: 3px 0 0 0;
  padding: 0;
  width: 1.7rem;
  height: 0;
  border-bottom: 3px solid var(--secondary-color);
}

.bottom-mobile-navbar-icon {
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.navbar-dropdown-menu {
  width: 100%;
  position: absolute;
  top: 80px;
  background: var(--primary-color);
}

.dropdown-nav-link {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid rgba(173, 170, 170, 0.6);
  border-color: rgba(173, 170, 170, 0.6) !important;
  border-radius: 0;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  font-size: 18px;
}
